In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt
local_path=os.getcwd()

In [2]:
scada1=pd.DataFrame([['2020/10/17 10:50:20',163.761],
                     ['2020/10/17 10:49:30',-101],
                     ['2020/10/17 10:48:40',0],
                     ['2020/10/17 10:47:50',0],
                     ['2020/10/17 10:46:10',160.551],
                     ['2020/10/17 10:45:20',165.891],
                     ['2020/10/17 10:44:30',162.676],
                     ['2020/10/17 10:43:40',np.nan],
                     ['2020/10/17 10:42:50',165.975],
                     ['2020/10/17 10:41:10',163.275],
                     ['2020/10/17 10:40:20',163.382]],columns=['Datetime','Pressure'])#.set_index(['Datetime'])
scada2=pd.DataFrame([['2020/10/17 10:50:00',29.689],
                     ['2020/10/17 10:45:00',29.604],
                     ['2020/10/17 10:40:00',29.312]],columns=['Datetime','Temperature'])#.set_index(['Datetime'])

In [119]:
scada1['Datetime']=pd.to_datetime(scada1['Datetime'])

In [75]:
pd.date_range("2020-10-17", periods=1440, freq="min")

DatetimeIndex(['2020-10-17 00:00:00', '2020-10-17 00:01:00',
               '2020-10-17 00:02:00', '2020-10-17 00:03:00',
               '2020-10-17 00:04:00', '2020-10-17 00:05:00',
               '2020-10-17 00:06:00', '2020-10-17 00:07:00',
               '2020-10-17 00:08:00', '2020-10-17 00:09:00',
               ...
               '2020-10-17 23:50:00', '2020-10-17 23:51:00',
               '2020-10-17 23:52:00', '2020-10-17 23:53:00',
               '2020-10-17 23:54:00', '2020-10-17 23:55:00',
               '2020-10-17 23:56:00', '2020-10-17 23:57:00',
               '2020-10-17 23:58:00', '2020-10-17 23:59:00'],
              dtype='datetime64[ns]', length=1440, freq='T')

In [120]:
scada1

              Datetime  Pressure
0  2020-10-17 10:50:20   163.761
1  2020-10-17 10:49:30  -101.000
2  2020-10-17 10:48:40     0.000
3  2020-10-17 10:47:50     0.000
4  2020-10-17 10:46:10   160.551
5  2020-10-17 10:45:20   165.891
6  2020-10-17 10:44:30   162.676
7  2020-10-17 10:43:40       NaN
8  2020-10-17 10:42:50   165.975
9  2020-10-17 10:41:10   163.275
10 2020-10-17 10:40:20   163.382

In [114]:
    scada1['Datetime']=scada1['Datetime'].dt.round(freq='min')
    scada1

              Datetime  Pressure
0  2020-10-17 10:50:00   163.761
1  2020-10-17 10:50:00  -101.000
2  2020-10-17 10:49:00     0.000
3  2020-10-17 10:48:00     0.000
4  2020-10-17 10:46:00   160.551
5  2020-10-17 10:45:00   165.891
6  2020-10-17 10:44:00   162.676
7  2020-10-17 10:44:00       NaN
8  2020-10-17 10:43:00   165.975
9  2020-10-17 10:41:00   163.275
10 2020-10-17 10:40:00   163.382

In [115]:
scada1.groupby(scada1['Datetime']).mean()

                     Pressure
Datetime
2020-10-17 10:40:00  163.3820
2020-10-17 10:41:00  163.2750
2020-10-17 10:43:00  165.9750
2020-10-17 10:44:00  162.6760
2020-10-17 10:45:00  165.8910
2020-10-17 10:46:00  160.5510
2020-10-17 10:48:00    0.0000
2020-10-17 10:49:00    0.0000
2020-10-17 10:50:00   31.3805

In [40]:
data['Datetime']=pd.to_datetime(data['Datetime'])                    
data['Date']=data['Datetime'].dt.date                               
data['Time']=data['Datetime'].dt.time
# data=data.pivot(columns='Time', index='Date',values='Pressure')

In [41]:
data

              Datetime  Pressure        Date      Time
0  2020-10-17 10:50:00   163.761  2020-10-17  10:50:00
1  2020-10-17 10:49:00  -101.000  2020-10-17  10:49:00
2  2020-10-17 10:48:00  -101.000  2020-10-17  10:48:00
3  2020-10-17 10:47:00  -101.000  2020-10-17  10:47:00
4  2020-10-17 10:46:00   160.551  2020-10-17  10:46:00
5  2020-10-17 10:45:00   165.891  2020-10-17  10:45:00
6  2020-10-17 10:44:00   162.676  2020-10-17  10:44:00
7  2020-10-17 10:43:00   160.757  2020-10-17  10:43:00
8  2020-10-17 10:42:00   165.975  2020-10-17  10:42:00
9  2020-10-17 10:41:00   163.275  2020-10-17  10:41:00
10 2020-10-17 10:40:00   163.382  2020-10-17  10:40:00

In [3]:
scada1

                      0        1
0   2020/10/17 10:50:00  163.761
1   2020/10/17 10:49:00 -101.000
2   2020/10/17 10:48:00 -101.000
3   2020/10/17 10:47:00 -101.000
4   2020/10/17 10:46:00  160.551
5   2020/10/17 10:45:00  165.891
6   2020/10/17 10:44:00  162.676
7   2020/10/17 10:43:00  160.757
8   2020/10/17 10:42:00  165.975
9   2020/10/17 10:41:00  163.275
10  2020/10/17 10:40:00  163.382

In [116]:
scada1=pd.DataFrame([['2020/10/17 10:50:00',163.761],
                     ['2020/10/17 10:49:00',-101],
                     ['2020/10/17 10:48:00',0],
                     ['2020/10/17 10:47:00',0],
                     ['2020/10/17 10:46:00',160.551],
                     ['2020/10/17 10:45:00',165.891],
                     ['2020/10/17 10:44:00',162.676],
                     ['2020/10/17 10:43:00',np.nan],
                     ['2020/10/17 10:42:00',165.975],
                     ['2020/10/17 10:41:00',163.275],
                     ['2020/10/17 10:40:00',163.382]],columns=['Datetime','Pressure']).set_index(['Datetime'])
scada2=pd.DataFrame([['2020/10/17 10:50:00',29.689],
                     ['2020/10/17 10:45:00',29.604],
                     ['2020/10/17 10:40:00',29.312]],columns=['Datetime','Temperature']).set_index(['Datetime'])

In [117]:
pd.concat([scada1,scada2],axis=1)

                     Pressure  Temperature
Datetime
2020/10/17 10:50:00   163.761       29.689
2020/10/17 10:49:00  -101.000          NaN
2020/10/17 10:48:00     0.000          NaN
2020/10/17 10:47:00     0.000          NaN
2020/10/17 10:46:00   160.551          NaN
2020/10/17 10:45:00   165.891       29.604
2020/10/17 10:44:00   162.676          NaN
2020/10/17 10:43:00       NaN          NaN
2020/10/17 10:42:00   165.975          NaN
2020/10/17 10:41:00   163.275          NaN
2020/10/17 10:40:00   163.382       29.312

In [194]:
#data type: dataframe
scada=pd.read_csv(local_path+'\\scada.csv',header=None)
data=scada.iloc[:,range(1,4)]
time_label=scada.iloc[:,0]
def b_box(data):
    data=data.replace(0,np.nan)                #先去掉0值
    q3=data.quantile(0.75)                     #第三四分位
    q1=data.quantile(0.25)                     #第一四分位
    iqr=data.quantile(0.75)-data.quantile(0.25)#四分位距
    maxd=q3+1.5*iqr                            #最大值
    mind=q1-1.5*iqr                            #最小值
    clean_data=time_label
    for i in range(data.shape[1]):
        data1=data.iloc[:,i]
        data1=data1[data1.between(mind[i+1],maxd[i+1])]#留下最大值和最小值之间的数据
        clean_data=pd.concat([clean_data,data1],axis=1)#由于dataframe的index相同，可以直接合并
    #0上下插值，1左右插值
    #bfill拿下方数据填上方数据
    clean_data=clean_data.fillna(method='bfill',axis=0)
    clean_data=clean_data.fillna(method='ffill',axis=0)
    return clean_data
pd.DataFrame(scada.iloc[:,3]).boxplot()
plt.title('row data')
plt.show()
pd.DataFrame(clean_data.iloc[:,3]).boxplot()
plt.title('clean data')
plt.show()